.header{
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.header_logo{
    width: 90px;
    object-fit: contain;
    margin: 5px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin-left: 1%;
    margin-right: 1%;
}

.header_searchInput {
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
}



.header_searchIcon {
    padding: 5px;
    height: 25px !important;
    background-color: black;
    color: white;
}

.header_nav{
    margin-right: 1%;
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: black;
}

.header_basketCount{
    padding: 5px;
    top: -3px;
    left: -10px;
}


